{% assign friends = site.data.data.sidebar.friends %}
{% if friends %}
<div class="friends-container container-block">

    <h2 class="container-block-title">
        Collaborators
    </h2>

    <ul class="list-unstyled friends-list">
        {% for friend in friends %}

        {% if friend.link %}
        <li><a href="{{ friend.link }}" target="_blank">{{ friend.item }}</a></li>
        {% else %}
        <li>{{ friend.item }}</li>
        {% endif %}

        {% endfor %}
    </ul>

</div><!--//interests-->
{% endif %}
