{% assign supervisors = site.data.data.sidebar.supervisors %}
{% if supervisors %}
<div class="supervisors-container container-block">

    <h2 class="container-block-title">
        supervisors
    </h2>

    <ul class="list-unstyled supervisors-list">
        {% for supervisor in supervisors %}

        {% if supervisor.link %}
        <li><a href="{{ supervisor.link }}" target="_blank">{{ supervisor.item }}</a></li>
        {% else %}
        <li>{{ supervisor.item }}</li>
        {% endif %}

        {% endfor %}
    </ul>

</div><!--//interests-->
{% endif %}
